.plans-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("https://assets.www.happyfox.com/v2/images/pricing-new-banner-bg-new.png")
    no-repeat top left;
  background-size: cover;
  height: 294px;
  text-align: center;
}

.plans-options-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1.7rem;
  align-items: stretch;
  width: 100%;
  min-height: 90px;
}

.plans-options-item {
  display: flex;
  align-items: center;
  max-width: 410px;
  justify-content: center;
  background-color: #ffeada;
  border-radius: 15px 15px 0 0;
  transition: background-color 300ms ease;
  box-shadow: inset 0 -8px 10px 0 RGBA(0, 0, 0, 0.02);
  width: 22.2%;
  cursor: pointer;
}

.plans-options-item.active {
  background-color: white;
  box-shadow: none;
}

.plans-options-item:hover {
  background-color: white;
  box-shadow: none;
}

.plans-mode-container {
  display: flex;
  justify-content: center;
  padding: 3.1rem 0;
  box-shadow: 0 -8px 10px 0 RGBA(0, 0, 0, 0.02);
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}

.plans-mode-wrapper {
  display: flex;
  background-color: #f5f4f4;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
}

.plans-mode-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  margin: 0.6rem;
  padding: 0.83rem 0;
  border-radius: 5px;
  flex: 1;
  max-width: 24.5%;
  text-align: center;
  border: 1px solid transparent;
  transition: background-color 250ms ease;
  font-weight: 300;
  cursor: pointer;
}

.plans-mode-item.active {
  background-color: white;
  border: 1px solid #c8c7c7;
  font-weight: 500;
  border-radius: 10px;
}

.plans-mode-item:hover {
  background-color: white;
  border: 1px solid #c8c7c7;
  border-radius: 10px;
}

.plans-mode-item:hover p {
  font-weight: 500;
}

.plans-pricing-note {
  background-color: #f9f9f9;
  border-radius: 15px;
  margin: 0 auto;
  padding: 1.25rem 1.2rem;
  max-width: 600px;
  width: 100%;
  margin-bottom: 5.5rem;
  text-align: center;
}

.plans-pricing-note p {
  font-weight: 300;
}

.plans-pricing-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  max-width: 100%;
  max-width: 1140px;
  padding: 0 15px;
}
.plans-pricing-item {
  height: auto;
  width: 25%;
  padding-left: 1.9rem;
  border-left: 1px solid #eee;
  position: relative;
  transition: all 300ms ease;
}

/* .plans-pricing-item-badge{
  position: absolute;
  top:9%;
} */

.plans-pricing-item-badge {
  font-size: 14px;
  color: #ff3a3a;
  margin-top: -22px;
  margin-bottom: 2px;
}

.plans-pricing-item-cta {
  color: #ff3a3a;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 2.3rem;
  padding-bottom: 2.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-underline-offset: 1px;
  padding-left: 1rem;
  margin-bottom: 20px;
}

.plans-pricing-item:nth-child(1) {
  border-left: none;
}
.plans-pricing-item:hover {
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.plans-pricing-item-type {
  margin-bottom: 1rem;
  width: 100%;
  text-transform: capitalize;
}

.plans-pricing-item-amount span:first-child {
  margin-right: 0.3rem;
}
.plans-pricing-item-amount span {
  margin-right: 0.1rem;
}
.plans-pricing-item-amount {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  margin-bottom: 20px;
}

.plans-pricing-item-subtext {
  font-weight: 500;
  padding-top: 20px;
  font-size: 14px;
  color: #555;
}

.plans-pricing-item-features {
  padding-top: 20px;
  margin-left: 1rem;
  padding-bottom: 85px;
}

.plans-pricing-item-features > li {
  list-style: circle;
  line-height: 1.4rem;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 15px;
  color: #555550;
}

.plans-pricing-item-demo-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  gap: 2rem;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.plans-pricing-item:hover .plans-pricing-item-demo-cta {
  background-color: #ff3a3a;
}

.plans-pricing-item:hover .plans-pricing-item-demo-cta > a > p {
  color: #fff;
}

.plans-pricing-item-demo-cta svg {
  stroke: white;
}

.plans-pricing-item-demo-cta:hover svg {
  stroke: #fff !important;
}

@media (max-width: 1200px) {
  .plans-pricing-container {
    max-width: 960px;
  }

  .plans-pricing-item {
    width: 24%;
  }
}

@media (max-width: 992px) {
  .plans-mode-wrapper {
    flex-direction: column;
    gap: 0rem;
    padding: 0.4rem;
  }
  .plans-mode-item {
    margin: 0.2rem;
    max-width: 100%;
  }
  .plans-pricing-item {
    min-width: 48%;
  }

  .plans-pricing-item:nth-child(odd) {
    border-left: none;
  }

  .plans-pricing-item-demo-cta {
    width: 85%;
  }

  .plans-pricing-note {
    max-width: 600px;
  }

  .plans-options-item {
    width: 33.5%;
  }
}

@media (max-width: 768px) {
  .plans-pricing-item {
    width: 90%;
    margin: auto;
    border-top: 1px solid #eee;
    padding-top: 20px;
    border-left: none;
  }

  .plans-options-item {
    padding: 25px 10px !important;
  }

  .plans-pricing-note {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .plans-options-item {
    padding: 1rem 2rem;
  }

  .plans-options-container {
    display: flex;
    gap: 1rem;
  }

  .plans-options-item {
    width: 39%;
  }
}

@media (min-width: 1500px) {
  .plans-items-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .plans-mode-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .plans-mode-container,
  .plans-pricing-container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .plans-mode-container,
  .plans-pricing-container {
    max-width: 720px;
    row-gap: 3rem;
  }
}

@media (max-width: 768px) {
  .plans-mode-container,
  .plans-pricing-container {
    max-width: 540px;
  }
  .plans-pricing-item {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .plans-mode-container,
  .plans-pricing-container {
    max-width: 420px;
  }
  .navbar {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .plans-mode-container,
  .plans-pricing-container {
    max-width: 90%;
  }
}

@media (min-width: 1500px) {
  .plans-mode-container,
  .plans-pricing-container {
    max-width: 1440px;
  }
}
